<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>616545443596-b28s1ess79hc65i8su2vo9pqto64e88a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616545443596-b28s1ess79hc65i8su2vo9pqto64e88a</string>
	<key>API_KEY</key>
	<string>AIzaSyBrhEE7YTL5DaE_83_IskxYhMOzJo035Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>616545443596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meeks.versus</string>
	<key>PROJECT_ID</key>
	<string>versus-6a3eb</string>
	<key>STORAGE_BUCKET</key>
	<string>versus-6a3eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:616545443596:ios:68dc3f0b293dc071</string>
	<key>DATABASE_URL</key>
	<string>https://versus-6a3eb.firebaseio.com</string>
</dict>
</plist>